{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>


<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>7 Reasons I Love You ❤️</title>

<link rel="stylesheet"
      href="{% static 'birthday/style.css' %}">


</head>

<body>

<div class="hearts">

    <span>♥</span>
    <span>♡</span>
    <span>♥</span>
    <span>♡</span>
    <span>♥</span>
    <span>♡</span>

</div>


<main class="hero page-content reasons-page">

    <div class="small-text">
        A LITTLE SECRET FROM MY HEART
    </div>


    <h1>
        7 Reasons
    </h1>


    <div class="heart-line">
        ───── ❤️ ─────
    </div>


    <h2>
        Why I Love You
    </h2>


    <p class="intro">
        I could give you a hundred reasons...
        but these seven are especially close to my heart. ❤️
    </p>

    <div class="reasons-grid">

    <div class="reason-card">
        <span>01</span>
        <h3>Your Smile ❤️</h3>
        <p>
            Your smile has a way of making even my ordinary
            days feel brighter and happier.
        </p>
    </div>


    <div class="reason-card">
        <span>02</span>
        <h3>Your Heart</h3>
        <p>
            I love the kindness, care and love you carry in
            your heart, especially for the people you love.
        </p>
    </div>


    <div class="reason-card">
        <span>03</span>
        <h3>You Understand Me</h3>
        <p>
            You understand me even when I don't have the right
            words to explain what I'm feeling.
        </p>
    </div>


    <div class="reason-card">
        <span>04</span>
        <h3>You Make Me Laugh</h3>
        <p>
            With you, even the smallest moments become funny,
            silly and memories I want to keep forever.
        </p>
    </div>


    <div class="reason-card">
        <span>05</span>
        <h3>You Stand Beside Me</h3>
        <p>
            Knowing that you are beside me gives me strength
            and makes every part of life feel a little easier.
        </p>
    </div>


    <div class="reason-card">
        <span>06</span>
        <h3>You Feel Like Home</h3>
        <p>
            With you, I can be completely myself.
            Your presence gives me a feeling of comfort and home.
        </p>
    </div>


    <div class="reason-card">
        <span>07</span>
        <h3>You Are My Forever ❤️</h3>
        <p>
            On August 18, 2024, you became my husband.
            But every day since then, I keep choosing you all over again.
        </p>
    </div>

</div>
	<a href="{% url 'birthday' %}" class="surprise-btn">
    		Birthday Surprise 🎂
	</a>
    
	

   
   
</main>

</body>

</html>
